/* BARRA DE NAVEGACIÓN */

.seccionBarraNav {
    background-color: white !important;
}

.seccionBarraP {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    min-height: 4rem;
}

.seccionBarraP p {
    margin: 0;
    font-size: 1.5rem;
}

.seccionBarraP1 {
    color: #5D4032;
    font-family: "Playfair Display", serif;
}

.seccionBarraP2 {
    color: #6C9B4B;
    font-family: "Playfair Display", serif;
}

.botonHamburguesa,
.botonHamburguesa:focus,
.botonHamburguesa:active,
.botonHamburguesa:hover {
    border: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.listaMenuHamburguesa {
    gap: 1.2rem;
}

.listaMenuHamburguesa li a {
    color: #5D4032 !important;
}

.botonMenuHamburguesa {
    background-color: #5D4032 !important;
    border-color: #5D4032 !important;
    color: white;
    border-radius: .625rem;
    transition: background-color 0.2s ease, border 0.2s ease;
}

.botonMenuHamburguesa:active,
.botonMenuHamburguesa:focus,
.botonMenuHamburguesa:hover {
    background-color: #483227 !important;
    border-color: #483227 !important;
}

.bi-list {
    font-size: 2rem;
    color: #5D4032;
}

.bi-x {
    font-size: 2.1875rem;
    color: #5D4032;
}

/* FIN DE LA BARRA DE NAVEGACIÓN */

/* HERO */

.seccionHero div img {
    min-height: 100vh;
    object-fit: cover;
    filter: brightness(70%);
}

.contenidoSeccionHero {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contenidoSeccionHero h2 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 2.2rem;
}

.contenidoSeccionHero p {
    font-size: 1.2rem;
}

.contenidoSeccionHero button {
    max-width: max-content;
    padding: 0.7rem 2rem 0.7rem 2rem;
    border-radius: 0.8rem;
    font-size: 1.2rem;
}

.contenidoSeccionHero button:first-child {
    background-color: #6C9B4B;
    border: #6C9B4B;
    transition: background-color 0.2s ease, border 0.2s ease;
}

.contenidoSeccionHero button:first-child:hover,
.contenidoSeccionHero button:first-child:active,
.contenidoSeccionHero button:first-child:focus {
    background-color: #6c9b4be0 !important;
    border: #6c9b4be0 !important;
}

.contenidoSeccionHero button:nth-of-type(2) {
    background-color: white;
    border: white;
    color: #5D4032;
    transition: background-color 0.2s ease, border 0.2s ease;
}

.contenidoSeccionHero button:nth-of-type(2):hover,
.contenidoSeccionHero button:nth-of-type(2):focus,
.contenidoSeccionHero button:nth-of-type(2):active {
    background-color: rgba(255, 255, 255, 0.867) !important;
    border: rgba(255, 255, 255, 0.867) !important;
    color: #5D4032 !important;
}

.contenedorButtonSeccionHero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

/* FIN DEL HERO */

/* INFORMACIÓN */

.seccionInformacion {
    background-color: #EBE4D6;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.seccionInformacion div img {
    max-width: 100%;
    border-radius: .9375rem !important;
}

.seccionInformacion h2 {
    font-family: "Playfair Display", serif;
    font-size: 2.2rem;
    font-weight: bold;
    color: #5D4032;
    margin-top: 2.5rem;
}

.seccionInformacion p {
    color: #5d4032c5;
    margin-top: 1.2rem;
    font-size: 1.1rem;
}

.seccionInformacion p:nth-of-type(2) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #5d4032c5;
    margin-top: 1.2rem;
    font-size: 1rem;
    font-weight: bold;
}

.seccionInformacion i {
    font-size: 1.5rem;
    color: #6C9B4B;
}

.cuadradosSeccionInformacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    max-width: 100%;
    align-content: center;
}

.tarjetaCuadradaSeccionInformacion {
    background-color: white;
    flex-direction: column;
    display: grid;
    justify-items: center;
    border-radius: .9375rem;
}

.tarjetaCuadradaSeccionInformacion p {
    font-size: 1rem;
    color: black;
    margin: 0 0 0.7rem 0;
}

.tarjetaCuadradaSeccionInformacion i {
    font-size: 2.2rem;
    margin: 0.2rem 0 0 0;
}

/* FIN DE INFORMACIÓN */

/* SERVICIOS */

.seccionServicios {
    background-color: #5D4032;
    display: flex;
    justify-content: center;
}

.contenedorSeccionServicios {
    max-width: 90%;
    padding: 5rem 0 5rem 0;
}

.contenedorSeccionServicios h2 {
    text-align: center;
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 2.2rem;
    font-weight: bold;
}

.contenedorSeccionServicios p {
    text-align: center;
    color: white;
    padding: 1rem 0 2.5rem 0;
    font-size: 1.2rem;
}

.cardFondo {
    border-radius: 1.25rem;
}

.cardIMG {
    height: 16.875rem;
}

.cardIMG img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardIMG,
.cardIMG img {
    border-radius: 1.25rem 1.25rem 0 0;
}

.contenedorCardTitulo {
    background-color: white;
    display: flex;
    justify-content: center;
}

.cardTitutlo {
    padding: 1.5rem 2rem 0 2rem;
    display: flex;
    align-items: center;
    background-color: white;
}

.cardTitutlo i {
    font-size: 1.5rem;
}

.cardTitutlo h2 {
    text-align: left;
    color: #5D4032;
    margin: 0;
    font-size: 1.6rem;
    padding-left: 0.5rem;
}

.cardParrafo {
    padding: 1.3rem 2rem 1rem 2rem;
    background-color: white;
    border-radius: 0 0 1.25rem 1.25rem;
}

.cardParrafo p {
    color: #5D4032;
    text-align: left;
    font-size: 0.95rem;
    padding: 0;
}

.cardFondo:nth-of-type(2) {
    margin-top: 2.5rem;
}

/* FIN DE SERVICIOS */

/* GALERIA */

.seccionGaleria {
    background-color: #F9F8F6;
    display: flex;
    justify-content: center;
}

.contenedorSeccionGaleria {
    max-width: 90%;
    padding: 5rem 0 5rem 0;
}

.contenedorSeccionGaleria h2 {
    text-align: center;
    color: #5D4032;
    font-family: "Playfair Display", serif;
    font-size: 2.2rem;
    font-weight: bold;
}

.contenedorSeccionGaleria p {
    text-align: center;
    color: #5D4032;
    padding: 1rem 0 2.5rem 0;
    font-size: 1.2rem;
    transition: visibility 0.1s ease;
}

.botonesSeccionGaleria {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.botonesSeccionGaleria button {
    background-color: #F9F8F6;
    border-color: #5D4032;
    color: #5D4032;
    border-radius: .625rem;
    margin-bottom: 3rem;
    transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

.botonesSeccionGaleria button:focus,
.botonesSeccionGaleria button:hover,
.botonesSeccionGaleria button:active {
    background-color: #5D4032 !important;
    border-color: #5D4032 !important;
    color: white;
}

.divImagenesGaleria {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contenedorIMGSeccionGaleria {
    position: relative;
    border-radius: 1.25rem;
}

.imgSeccionGaleria img {
    max-width: 100%;
    height: 20.3125rem;
    border-radius: 1.25rem;
    object-fit: cover;
    transition: filter 0.5s ease;
}

.imgSeccionGaleria p {
    visibility: hidden;
    color: white;
    position: absolute;
    top: 79%;
    left: 8%;
    font-weight: 400;
}

.contenedorIMGSeccionGaleria:hover div img,
.contenedorIMGSeccionGaleria:focus div img,
.contenedorIMGSeccionGaleria:active div img {
    filter: brightness(65%);
}

.contenedorIMGSeccionGaleria:hover p,
.contenedorIMGSeccionGaleria:hover p,
.contenedorIMGSeccionGaleria:active p {
    visibility: visible;
}

.divBotonIG {
    display: flex;
    justify-content: center;
}

.botonIG {
    text-decoration: none;
    color: #6C9B4B;
    font-size: 1.1rem;
    display: flex;
    gap: .625rem;
    margin-top: 2.5rem;
    transition: color 0.2s ease;
    max-width: max-content;
}

.botonIG:hover {
    color: #496932;
}

/* FIN DE GALERÍA */

/* UBICACIÓN Y CONTACTO */

.seccionUbicacion {
    background-color: #EBE4D6;
}

.divSeccionUbicacion {
    max-width: 90%;
    padding: 5rem 0 5rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.divSeccionUbicacion h2 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color: #5D4032;
    font-size: 2.2rem;
}

.mapaSeccionUbicacion {
    margin-top: 3rem;
    border-radius: 1.25rem;
    overflow: hidden;
}

.mapaSeccionUbicacion iframe {
    width: 100%;
    height: 18.75rem;
}

.direccionSocialSeccionUbicacion {
    background-color: white;
    padding: 2rem 1.5rem;
    border-radius: 1.25rem;
    margin-top: 1rem;
}

.contenidoDireccionRRSS {
    max-width: 100%;
    display: flex;
    gap: 1rem;
}

.bi-geo-alt-fill {
    font-size: 1.3rem;
    color: #6C9B4B;
}

.contenido2 {
    text-align: left;
}

.contenidoDireccionRRSS h2 {
    font-size: 1.1563rem;
}

.contenidoDireccionRRSS p {
    font-size: 1rem;
    color: #5d4032c5;
}

.contenidoDireccionRRSS p:nth-of-type(2) {
    font-size: .875rem;
}

.btnGoogleMaps {
    background-color: #F9F8F6;
    color: #6C9B4B;
    border-color: #6C9B4B;
    outline-color: #6C9B4B;
    border-radius: .625rem;
    width: 100%;
    font-size: .9375rem;
    margin-top: .5rem;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease, outline-color 0.2s ease;
}

.btnGoogleMaps:hover,
.btnGoogleMaps:focus,
.btnGoogleMaps:active {
    background-color: #6C9B4B !important;
    color: white !important;
    border-color: #6C9B4B !important;
    outline-color: #6C9B4B !important;
}

.iconosRRSS {
    display: flex;
    gap: 1rem;
}

.iconosRRSS--icon {
    background-color: #6C9B4B;
    width: 2.8125rem;
    height: 2.8125rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.iconosRRSS--icon:hover,
.iconosRRSS--icon:active,
.iconosRRSS--icon:focus {
    background-color: #5e8641 !important;
}

.iconosRRSS--icon i {
    color: white;
    font-size: 1.125rem;
}

.contenidoRRSS {
    margin-top: 2rem;
    border-top: .0313rem solid rgba(128, 128, 128, 0.312);
}

.contenidoRRSS h2 {
    font-size: 1.1563rem;
    text-align: left;
    margin: 2rem 0 1.125rem 0;
}

.contenedorFormulario {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.25rem;
    margin-top: 3rem;
}

.tituloFormulario {
    width: 100%;
    padding: 2.2rem 1.5rem 0 1.5rem;
}

.tituloFormulario h2 {
    font-size: 1.5625rem;
    font-weight: bold;
    text-align: left;
}

.formulario {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1.5rem 1.5rem 2.1rem 1.5rem;
}

.formulario form {
    width: 100%;
}

.formulario form div {
    text-align: left;
    font-size: .875rem;
}

.formulario form div input,
.formulario form div textarea {
    border-radius: .625rem;
    background-color: #F9F8F6;
}

.formulario form div input,
.formulario form div input:hover,
.formulario form div input:active,
.formulario form div input:focus,
.formulario form div textarea,
.formulario form div textarea:hover,
.formulario form div textarea:active,
.formulario form div textarea:focus {
    border-radius: .625rem !important;
    outline: none;
    box-shadow: none;
    border-color: #EBE7E0;
    background-color: #F9F8F6 !important;
}

.formulario form div textarea {
    min-height: 6rem;
}

.formulario form button {
    width: 100%;
    background-color: #6C9B4B;
    border-color: #6C9B4B;
    outline-color: #6C9B4B;
    border-radius: .625rem;
    padding: .5625rem 0;
    margin-top: .625rem;
    font-size: 1.125rem;
    transition: background-color 0.2s ease, border-color 0.2s ease, outline-color 0.2s ease;
}

.formulario form button:hover,
.formulario form button:active,
.formulario form button:focus {
    background-color: #618b43 !important;
    border-color: #618b43 !important;
    outline-color: #618b43 !important;
    border-radius: .625rem;
    padding: .5625rem 0;
    margin-top: .625rem;
    font-size: 1.125rem;
}

/* FIN DE GALERÍA */

/* FOOTER */

.footer {
    background-color: #5D4032;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_text1 {
    padding-top: 3rem;
    max-width: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer_text1 h2 {
    font-size: 1.4375rem;
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

.footer_text2 {
    margin-top: 1.25rem;
    width: 90%;
    color: white;
}

.footer_text2 h2 {
    font-size: 1.4375rem;
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

.footer_text2-links {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

.footer_text2-links a {
    text-decoration: none;
    color: inherit;
    max-width: max-content;
}

.footer_text3 {
    width: 90%;
    margin-top: 1.875rem;
}

.footer_text3 h2 {
    color: white;
    font-size: 1.4375rem;
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

.footer_text3-rrss {
    display: flex;
    gap: 1rem;
}

.footer_text3-rrss--icon {
    margin-top: .625rem;
    background-color: rgba(255, 255, 255, 0.06);
    width: 2.8125rem;
    height: 2.8125rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.footer_text3-rrss--icon:hover,
.footer_text3-rrss--icon:active,
.footer_text3-rrss--icon:focus {
    background-color: rgba(255, 255, 255, 0.189);
}

.footer_text3-rrss--icon i {
    color: white;
    font-size: 1.125rem;
}

.footer_text3 p {
    margin: 1.5625rem 0;
    color: white;
    font-size: .875rem;

}

.footer_text4 {
    width: 90%;
    color: white;
    text-align: center;
    padding: 2rem 0;
    border-top: .0313rem solid rgba(255, 255, 255, 0.163);
}