/* BARRA DE NAVEGACIÓN */

.seccionBarraNav {
    background-color: white !important;
}

.seccionBarraP {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    min-height: 4rem;
}

.seccionBarraP p {
    margin: 0;
    font-size: 1.5rem;
}

.seccionBarraP1 {
    color: #5D4032;
    font-family: "Playfair Display", serif;
}

.seccionBarraP2 {
    color: #6C9B4B;
    font-family: "Playfair Display", serif;
}

.botonHamburguesa,
.botonHamburguesa:focus {
    border: none;
    box-shadow: none;
}

.listaMenuHamburguesa {
    gap: 1.2rem;
}

.listaMenuHamburguesa li a {
    color: #5D4032 !important;
}

.botonMenuHamburguesa {
    background-color: #5D4032;
    border-color: #5D4032;
    color: white;
    border-radius: 10px;
}

.bi-list {
    font-size: 2rem;
    color: #5D4032;
}

/* FIN DE LA BARRA DE NAVEGACIÓN */

/* HERO */

.seccionHero div img {
    min-height: 100vh;
    object-fit: cover;
    filter: brightness(70%);
}

.contenidoSeccionHero {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contenidoSeccionHero h2 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 2.2rem;
}

.contenidoSeccionHero p {
    font-size: 1.2rem;
}

.contenidoSeccionHero button {
    max-width: max-content;
    padding: 0.7rem 2rem 0.7rem 2rem;
    border-radius: 0.8rem;
    font-size: 1.2rem;
}

.contenidoSeccionHero button:first-child {
    background-color: #6C9B4B;
    border: #6C9B4B;
}

.contenidoSeccionHero button:nth-of-type(2) {
    background-color: white;
    border: white;
    color: #5D4032;
}

.contenedorButtonSeccionHero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

/* FIN DEL HERO */

/* SERVICIOS */

.seccionServicios {
    background-color: #EBE4D6;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.seccionServicios div img {
    max-width: 100%;
    border-radius: 15px !important;
}

.seccionServicios h2 {
    font-family: "Playfair Display", serif;
    font-size: 2.2rem;
    font-weight: bold;
    color: #5D4032;
    margin-top: 2.5rem;
}

.seccionServicios p {
    color: #5d4032c5;
    margin-top: 1.2rem;
    font-size: 1.1rem;
}

.seccionServicios p:nth-of-type(2) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #5d4032c5;
    margin-top: 1.2rem;
    font-size: 1rem;
    font-weight: bold;
}

.seccionServicios i {
    font-size: 1.5rem;
    color: #6C9B4B;
}

.cuadradosSeccionServicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    max-width: 100%;
    align-content: center;
}

.tarjetaCuadradaSeccionServicios {
    background-color: white;
    flex-direction: column;
    display: grid;
    justify-items: center;
    border-radius: 10%;
}
.tarjetaCuadradaSeccionServicios p {
    font-size: 1rem;
    color: black;
    margin: 0 0 0.7rem 0;
}

.tarjetaCuadradaSeccionServicios i {
    font-size: 2.2rem;
    margin: 0.2rem 0 0 0;
}