/* BARRA DE NAVEGACIÓN */

.seccionBarraNav {
    background-color: white !important;
}

.seccionBarraP {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    min-height: 4rem;
}

.seccionBarraP p {
    margin: 0;
    font-size: 1.5rem;
}

.seccionBarraP1 {
    color: #5D4032;
    font-family: "Playfair Display", serif;
}

.seccionBarraP2 {
    color: #6C9B4B;
    font-family: "Playfair Display", serif;
}

.botonHamburguesa,
.botonHamburguesa:focus {
    border: none;
    box-shadow: none;
}

.listaMenuHamburguesa {
    gap: 1.2rem;
}

.listaMenuHamburguesa li a {
    color: #5D4032 !important;
}

.botonMenuHamburguesa {
    background-color: #5D4032;
    border-color: #5D4032;
    color: white;
    border-radius: .625rem;
}

.bi-list {
    font-size: 2rem;
    color: #5D4032;
}

/* FIN DE LA BARRA DE NAVEGACIÓN */

/* HERO */

.seccionHero div img {
    min-height: 100vh;
    object-fit: cover;
    filter: brightness(70%);
}

.contenidoSeccionHero {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contenidoSeccionHero h2 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 2.2rem;
}

.contenidoSeccionHero p {
    font-size: 1.2rem;
}

.contenidoSeccionHero button {
    max-width: max-content;
    padding: 0.7rem 2rem 0.7rem 2rem;
    border-radius: 0.8rem;
    font-size: 1.2rem;
}

.contenidoSeccionHero button:first-child {
    background-color: #6C9B4B;
    border: #6C9B4B;
}

.contenidoSeccionHero button:nth-of-type(2) {
    background-color: white;
    border: white;
    color: #5D4032;
}

.contenedorButtonSeccionHero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

/* FIN DEL HERO */

/* SERVICIOS */

.seccionInformacion {
    background-color: #EBE4D6;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.seccionInformacion div img {
    max-width: 100%;
    border-radius: .9375rem !important;
}

.seccionInformacion h2 {
    font-family: "Playfair Display", serif;
    font-size: 2.2rem;
    font-weight: bold;
    color: #5D4032;
    margin-top: 2.5rem;
}

.seccionInformacion p {
    color: #5d4032c5;
    margin-top: 1.2rem;
    font-size: 1.1rem;
}

.seccionInformacion p:nth-of-type(2) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #5d4032c5;
    margin-top: 1.2rem;
    font-size: 1rem;
    font-weight: bold;
}

.seccionInformacion i {
    font-size: 1.5rem;
    color: #6C9B4B;
}

.cuadradosSeccionInformacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    max-width: 100%;
    align-content: center;
}

.tarjetaCuadradaSeccionInformacion {
    background-color: white;
    flex-direction: column;
    display: grid;
    justify-items: center;
    border-radius: .9375rem;
}

.tarjetaCuadradaSeccionInformacion p {
    font-size: 1rem;
    color: black;
    margin: 0 0 0.7rem 0;
}

.tarjetaCuadradaSeccionInformacion i {
    font-size: 2.2rem;
    margin: 0.2rem 0 0 0;
}

.seccionServicios {
    background-color: #5D4032;
    display: flex;
    justify-content: center;
}

.contenedorSeccionServicios {
    max-width: 90%;
    padding: 5rem 0 5rem 0;
}

.contenedorSeccionServicios h2 {
    text-align: center;
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 2.2rem;
    font-weight: bold;
}

.contenedorSeccionServicios p {
    text-align: center;
    color: white;
    padding: 1rem 0 2.5rem 0;
    font-size: 1.2rem;
}

.cardFondo {
    border-radius: 1.25rem;
}

.cardIMG {
    height: 16.875rem;
}

.cardIMG img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardIMG,
.cardIMG img {
    border-radius: 1.25rem 1.25rem 0 0;
}

.contenedorCardTitulo {
    background-color: white;
    display: flex;
    justify-content: center;
}

.cardTitutlo {
    padding: 1.5rem 2rem 0 2rem;
    display: flex;
    align-items: center;
    background-color: white;
}

.cardTitutlo i {
    font-size: 1.5rem;
}

.cardTitutlo h2 {
    text-align: left;
    color: #5D4032;
    margin: 0;
    font-size: 1.6rem;
    padding-left: 0.5rem;
}

.cardParrafo {
    padding: 1.3rem 2rem 1rem 2rem;
    background-color: white;
    border-radius: 0 0 1.25rem 1.25rem;
}

.cardParrafo p {
    color: #5D4032;
    text-align: left;
    font-size: 0.95rem;
    padding: 0;
}

.cardFondo:nth-of-type(2) {
    margin-top: 2.5rem;
}